* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

button {
 cursor: pointer;
}

body{
  background-color: #262629;
  /* overflow: hidden; */
}

/* ***** NAV-BAR ***** */
.nav-bar{
  background-color: #262629;
  box-shadow: 5px 5px 20px;
  color: #54433A;
  height: 60px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.navLinks{
  display: flex;
  justify-content: space-around;
  width: 300px;
  align-items: center;
  margin-right: 80px;
}

.navigation{
  font-family: 'Fira Sans Extra Condensed', sans-serif;
  color: #cc5500;
  text-decoration: none;
  font-size: 18px;
  font-weight: 800;
  text-shadow: #826b5f 2px 2px 5px;
  margin: 10px;
}

.title{
  font-family: 'Fira Sans Extra Condensed', sans-serif;
  color: #F8EBE8;
  align-self: center;
}
/* ************************************************ */

/* ***** NAME-CARD ***** */
.minor-title{
  font-family: 'Fira Sans Extra Condensed', sans-serif;
  font-size: 50px;
  font-weight: 600;
  color: #F8EBE8;
  width: 500px;
  margin-top: 100px;
  margin-left: 100px;

}

#title-name{
  font-size: 70px;
  font-weight: 900;
  color: #F8EBE8;
  font-style: italic;
}

.line-accent{
  width: 50px;
  border-color: #cc5500 !important;
  margin-left: 100px;
  margin-top: 40px;
}

.social-group{
  width: 300px;
  display: flex;
  flex-direction: row;
  margin-top: 40px;
  margin-left: 100px;
}

.vl{
  border-left: 2px solid #F8EBE8;
  height: 30px;
  margin-left: 10px; 
  margin-right: 10px;
}

.socials{
  font-family: 'Fira Sans Extra Condensed', sans-serif;
  color: #cc5500;
  font-size: 20px;
}

.content {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin-bottom: -22px;
}

.card1{
  background-color: #262629;
  height: 100%;
  width: 30%;
  margin-top: 20px;
}

.contact-button{
  font-family: 'Fira Sans Extra Condensed', sans-serif;
  height: 50px;
  width: 200px;
  font-size: 20px;
  background-color: #262629;
  border-color: #cc5500;
  color: #cc5500;
  margin-left: 100px;
  margin-top: 30px;
}
/* ************************************************* */

/* ***** IMAGE-CARD ***** */
.card2{
  height: 100%;
  width: 60%;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
}

.profile-pic{
  margin-top: 69px;
  height: 100% !important;
  width: 70%;
}
/* ****************************************************** */

/* ***** INTRO-CARD ***** */
#intro-title{
  width: 300px;
  margin: 0;
  margin-top: 170px;
  margin-left: -200px;
  font-weight: 500;
}

.introduction{
  font-family: 'Fira Sans Extra Condensed', sans-serif;
  color: #F8EBE8;
  width: 400px;
  font-size: 20px;
  margin-left: -200px;
  margin-top: 20px;
  margin-bottom: 30px;
}

.about-link{
  font-family: 'Fira Sans Extra Condensed', sans-serif;
  color: #cc5500;
  font-size: 20px;
  text-decoration: none;
  margin-left: -200px;
}
/* ******************************************************************* */


/* ************************ABOUT PAGE****************************** */
.about-main{
  border: 3px solid red;
  height: 100%;
  width: auto;
  background-color: #2f3035;
}

.about-group{
display: flex;
flex-direction: column;
justify-content: center;
height: 40%;
width: 100%;
align-items: center;
}

.about-title{
  font-family: 'Fira Sans Extra Condensed', sans-serif;
  font-size: 70px;
  font-weight: 900;
  font-style: italic;
  color: #F8EBE8;
}


.about-description{
  font-family: 'Fira Sans Extra Condensed', sans-serif;
  color: #F8EBE8;
  font-size:  20px;
}