* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

body {
 background: ;
 color: ;
 -webkit-font-smoothing: antialiased;
}

body, input, button {
 font-size: ;
 font-family: ;
}

button {
 cursor: pointer;
}

body{
  background-color: gray;
}

.header{
  background-color: l#d4d0c8;
  height: 70px;
  display: flex;
  flex-direction: column;
  
}

.svg{
  background-color: #0b256b;
  height:60px;
  width: 99%;
  margin: 5px;

}

.top-nav{
  display: flex;
  flex-direction: row;
  justify-content: start;
}

.link{
  margin: 5px;
  margin-left: 15px;
}

h4{
  font-size: 50px;
}